[submodule "cgi-bin/cats-problem"]
	path = cgi-bin/cats-problem
	url = https://github.com/klenin/cats-problem.git

[submodule "cgi-bin/cats-modules"]
	path = cgi-bin/cats-modules
	url = https://github.com/klenin/cats-modules.git

[submodule "cats-judge"]
	path = cats-judge
	url = https://github.com/r0manch1k/cats-judge.git